<h1>LIMP Sandbox</h1>
<ng-container *ngIf="guardOn">
	<button (click)="auth()">auth()</button>
	<button (click)="checkAuth()">checkAuth()</button>
</ng-container>
<button (click)="call()">call()</button>
<button (click)="call('blog/read')">call('blog/read')</button>
<button (click)="call('blog_cat/read')">call('blog_cat/read')</button>
<button (click)="call('staff/read')">call('staff/read')</button>
<ng-container *ngIf="guardOn == false">
	<button (click)="signout()">signout()</button>
</ng-container>

<h2>Form Attrs</h2>
<ol>
	<li *ngFor="let attr of attrs">{{attr | json}}</li>
</ol>
<hr>
<h2>Form</h2>
<button type="button" (click)="populateAttrs('blog')">populateAttrs('blog')</button>
<button type="button" (click)="populateAttrs('blog_cat')">populateAttrs('blog_cat')</button>
<button type="button" (click)="populateAttrs('staff')">populateAttrs('staff')</button>
<hr>
<select [(ngModel)]="attrModel">
	<option *ngFor="let option of ['locale', 'str', 'int', 'access', 'file', 'geo']" [value]="option">{{option}}</option>
</select>
<button type="button" (click)="addFormAttr()">addFormAttr()</button>
<!-- <button type="button" (click)="delFormAttr()">delFormAttr()</button> -->
<button type="button" (click)="generateForm()">generateForm()</button>
<hr>
<form #formView [formGroup]="form" (submit)="submitForm()" ngNativeValidate>
	<div *ngFor="let attr of attrs; let i = index" class="form-group row">
		<label class="col-sm-2 col-form-label">{{attr[0]}}</label>
		{{i}}
		<button type="button" (click)="delFormAttr(i)">delFormAttr(i)</button>

		<div *ngIf="formReady && attr[1] == 'str'" class="col-sm-10">
			<input type="text" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'int'" class="col-sm-10">
			<input type="number" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<!-- <div *ngIf="formReady && attr[1] == 'longtext'" class="col-sm-10">
			<textarea type="text" [formControlName]="attr[0]" class="form-control" required>{{form.get(attr[0]).value}}</textarea>
		</div> -->

		<div *ngIf="formReady && attr[1] == 'password'" class="col-sm-10">
			<input type="password" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'locale'" class="col-sm-10">
			<input type="text" formControlName="{{attr[0]}}.ar_AE" class="form-control" placeholder="ar_AE" required>
			<input type="text" formControlName="{{attr[0]}}.en_AE" class="form-control" placeholder="en_AE" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'geo'" class="col-sm-10">
			<input type="number" formControlName="{{attr[0]}}.lat" class="form-control" placeholder="lat" required>
			<input type="number" formControlName="{{attr[0]}}.lng" class="form-control" placeholder="lng" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'file'" class="col-sm-10">
			<input [id]="attr[0]" type="file" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'access'" class="col-sm-10">
			<span>{{'{'}}anon:true, users:[], groups:[]{{'}'}}</span>
		</div>
		<div *ngIf="formReady && attr[1] == 'status'" class="col-sm-10">
			<span>published</span>
		</div>
	</div>

	<button type="submit">submitForm()</button>
</form>
<hr>
<h2>Output</h2>
<pre style="white-space: pre-line;">
	{{output}}
</pre>