<h1>LIMP Sandbox</h1>
<div style="display: flex">
	<div style="flex: 1">
		<div *ngIf="showInit">
			<h2>SDK Init</h2>
			<fieldset>
				<label>API URI</label>
				<input type="text" [(ngModel)]="environment.ws_api">
			</fieldset>
			<fieldset>
				<label>API Anon Token</label>
				<input type="text" [(ngModel)]="environment.anon_token">
			</fieldset>
			<button (click)="init()">init()</button>
		</div>
		<button (click)="showInit = !showInit">toggle showInit</button>
		<div *ngIf="showAuth">
			<h2>SDK Auth</h2>
			<fieldset>
				<label>Auth Var</label>
				<select [(ngModel)]="authVars.var">
					<option *ngFor="let authVar of ['username', 'email', 'phone']" [value]="authVar">{{authVar}}
					</option>
				</select>
			</fieldset>
			<fieldset>
				<label>Auth Val</label>
				<input type="text" [(ngModel)]="authVars.val">
			</fieldset>
			<fieldset>
				<label>Password</label>
				<input type="text" [(ngModel)]="authVars.password">
			</fieldset>
			<button (click)="auth()">auth()</button>
			<button (click)="checkAuth()">checkAuth()</button>
			<button (click)="signout()">signout()</button>
		</div>
		<button (click)="showAuth = !showAuth">toggle showAuth</button>
		<div>
			<h2>SDK Call</h2>
			<fieldset>
				<label>Endpoint</label>
				<input type="text" [(ngModel)]="callArgs.endpoint">
			</fieldset>
			<fieldset>
				<label>SID</label>
				<input type="text" [(ngModel)]="callArgs.sid">
			</fieldset>
			<fieldset>
				<label>Token</label>
				<input type="text" [(ngModel)]="callArgs.token">
			</fieldset>
			<fieldset>
				<label>Query</label>
				<button (click)="addQueryAttr()">+</button>
				<fieldset *ngFor="let attr of callArgs.query | values:['__key']">
					<label>{{attr.__key}}</label><button (click)="delQueryAttr(attr.__key)">-</button><br>
					<select [(ngModel)]="attr.type">
						<option *ngFor="let type of ['str', 'int', 'username_hash', 'email_hash', 'phone_hash']" [value]="type">{{type}}</option>
					</select>
					<input *ngIf="['str', 'username_hash', 'email_hash', 'phone_hash'].indexOf(attr.type) != -1" type="text" placeholder="val" [(ngModel)]="attr.val">
					<input *ngIf="['username_hash', 'email_hash', 'phone_hash'].indexOf(attr.type) != -1" type="password" placeholder="password" [(ngModel)]="attr.password">
					<input *ngIf="attr.type == 'int'" type="number" placeholder="val" [(ngModel)]="attr.val">
					<input *ngIf="attr.oper == '$bet'" type="text" placeholder="val2" [(ngModel)]="attr.val2">
					<select [(ngModel)]="attr.oper">
						<option *ngFor="let oper of ['$eq', '$bet', '$ne']" [value]="oper">{{oper}}</option>
					</select>
					<select [(ngModel)]="attr.strict">
						<option *ngFor="let strict of [true, false]" [value]="strict">{{strict | json}}</option>
					</select>
				</fieldset>
			</fieldset>
			<fieldset>
				<label>Doc</label>
				<button (click)="addDocAttr()">+</button>
				<fieldset *ngFor="let attr of callArgs.doc | values:['__key']">
					<label>{{attr.__key}}</label><button (click)="delDocAttr(attr.__key)">-</button><br>
					<select [(ngModel)]="attr.type" (change)="updateDocAttr(attr.__key, attr.type)">
						<option *ngFor="let type of ['locale', 'str', 'int', 'file', 'json', 'username_hash', 'email_hash', 'phone_hash']" [value]="type">{{type}}
						</option>
					</select>
					<ng-container *ngIf="attr.type == 'locale'">
						<input type="text" placeholder="val.ar_AE" [(ngModel)]="attr.val.ar_AE">
						<input type="text" placeholder="val.en_AE" [(ngModel)]="attr.val.en_AE">
					</ng-container>
					<input *ngIf="['str', 'username_hash', 'email_hash', 'phone_hash'].indexOf(attr.type) != -1" type="text" placeholder="val" [(ngModel)]="attr.val">
					<input *ngIf="['username_hash', 'email_hash', 'phone_hash'].indexOf(attr.type) != -1" type="password" placeholder="password" [(ngModel)]="attr.password">
					<input *ngIf="attr.type == 'int'" type="number" placeholder="val" [(ngModel)]="attr.val">
					<input *ngIf="attr.type == 'file'" [id]="'file-' + attr.__key" type="file">
					<textarea *ngIf="attr.type == 'json'" cols="30" rows="10" placeholder="val"
						[(ngModel)]="attr.val"></textarea>
				</fieldset>
			</fieldset>
			<button (click)="call()">call()</button>
		</div>
	</div>
	<div id="output-console" style="flex: 1; height: 80vh; overflow-x: auto; overflow-y: scroll;">
		<h2>Output</h2>
		<ng-container *ngFor="let item of output">
			<pre *ngIf="item.type == 'text'" style="white-space: pre-line; word-break: break-all;">
				{{ item.value }}
			</pre>
			<json-editor *ngIf="item.type == 'json'" [options]="editorOptions" [data]="item.value"></json-editor>
		</ng-container>
		<button (click)="output = []">clear output</button>
	</div>
</div>

<!-- <ng-container *ngIf="guardOn">
	<button (click)="auth()">auth()</button>
	<button (click)="checkAuth()">checkAuth()</button>
</ng-container>
<button (click)="call()">call()</button>
<button (click)="call('blog/read')">call('blog/read')</button>
<button (click)="call('blog_cat/read')">call('blog_cat/read')</button>
<button (click)="call('staff/read')">call('staff/read')</button>
<ng-container *ngIf="guardOn == false">
	<button (click)="signout()">signout()</button>
</ng-container>

<h2>Form Attrs</h2>
<ol>
	<li *ngFor="let attr of attrs">{{attr | json}}</li>
</ol>
<hr>
<h2>Form</h2>
<button type="button" (click)="populateAttrs('blog')">populateAttrs('blog')</button>
<button type="button" (click)="populateAttrs('blog_cat')">populateAttrs('blog_cat')</button>
<button type="button" (click)="populateAttrs('staff')">populateAttrs('staff')</button>
<hr>
<select [(ngModel)]="attrModel">
	<option *ngFor="let option of ['locale', 'str', 'int', 'access', 'file', 'geo']" [value]="option">{{option}}</option>
</select>
<button type="button" (click)="addFormAttr()">addFormAttr()</button>
<!- <button type="button" (click)="delFormAttr()">delFormAttr()</button> ->
<button type="button" (click)="generateForm()">generateForm()</button>
<hr>
<form #formView [formGroup]="form" (submit)="submitForm()" ngNativeValidate>
	<div *ngFor="let attr of attrs; let i = index" class="form-group row">
		<label class="col-sm-2 col-form-label">{{attr[0]}}</label>
		{{i}}
		<button type="button" (click)="delFormAttr(i)">delFormAttr(i)</button>

		<div *ngIf="formReady && attr[1] == 'str'" class="col-sm-10">
			<input type="text" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'int'" class="col-sm-10">
			<input type="number" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<!-<div *ngIf="formReady && attr[1] == 'longtext'" class="col-sm-10">
			<textarea type="text" [formControlName]="attr[0]" class="form-control" required>{{form.get(attr[0]).value}}</textarea>
		</div> ->

		<div *ngIf="formReady && attr[1] == 'password'" class="col-sm-10">
			<input type="password" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'locale'" class="col-sm-10">
			<input type="text" formControlName="{{attr[0]}}.ar_AE" class="form-control" placeholder="ar_AE" required>
			<input type="text" formControlName="{{attr[0]}}.en_AE" class="form-control" placeholder="en_AE" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'geo'" class="col-sm-10">
			<input type="number" formControlName="{{attr[0]}}.lat" class="form-control" placeholder="lat" required>
			<input type="number" formControlName="{{attr[0]}}.lng" class="form-control" placeholder="lng" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'file'" class="col-sm-10">
			<input [id]="attr[0]" type="file" [formControlName]="attr[0]" class="form-control" required>
		</div>

		<div *ngIf="formReady && attr[1] == 'access'" class="col-sm-10">
			<span>{{'{'}}anon:true, users:[], groups:[]{{'}'}}</span>
		</div>
		<div *ngIf="formReady && attr[1] == 'status'" class="col-sm-10">
			<span>published</span>
		</div>
	</div>

	<button type="submit">submitForm()</button>
</form> -->