<h1>LIMP Sandbox</h1>
<div style="display: flex">
	<div style="flex: 1">
		<div *ngIf="showInit">
			<h2>SDK Init</h2>
			<fieldset>
				<label>API URI</label>
				<input type="text" [(ngModel)]="environment.ws_api">
			</fieldset>
			<fieldset>
				<label>API Anon Token</label>
				<input type="text" [(ngModel)]="environment.anon_token" (change)="updateAnonToken()">
			</fieldset>
			<button (click)="init()">init()</button>
		</div>
		<button (click)="showInit = !showInit">toggle showInit</button>
		<div *ngIf="showAuth">
			<h2>SDK Auth</h2>
			<fieldset>
				<label>Auth Var</label>
				<select [(ngModel)]="authVars.var">
					<option *ngFor="let authVar of ['username', 'email', 'phone']" [value]="authVar">{{authVar}}
					</option>
				</select>
			</fieldset>
			<fieldset>
				<label>Auth Val</label>
				<input type="text" [(ngModel)]="authVars.val">
			</fieldset>
			<fieldset>
				<label>Password</label>
				<input type="text" [(ngModel)]="authVars.password">
			</fieldset>
			<button (click)="auth()">auth()</button>
			<button (click)="checkAuth()">checkAuth()</button>
			<button (click)="signout()">signout()</button>
		</div>
		<button (click)="showAuth = !showAuth">toggle showAuth</button>
		<div>
			<h2>SDK Call</h2>
			<fieldset>
				<label>Endpoint</label>
				<input type="text" [(ngModel)]="callArgs.endpoint">
			</fieldset>
			<fieldset>
				<label>SID</label>
				<input type="text" [(ngModel)]="callArgs.sid">
			</fieldset>
			<fieldset>
				<label>Token</label>
				<input type="text" [(ngModel)]="callArgs.token">
			</fieldset>
			<fieldset>
				<label>Query</label>
				<json-editor [options]="editorOptionsCode" [(ngModel)]="callArgs.query"></json-editor>
			</fieldset>
			<fieldset>
				<label>Doc</label>
				<json-editor [options]="editorOptionsCode" [(ngModel)]="callArgs.doc"></json-editor>
			</fieldset>
			<button (click)="call()">call()</button>
		</div>
	</div>
	<div id="output-console" style="flex: 1; height: 80vh; overflow-x: auto; overflow-y: scroll;">
		<h2>Output</h2>
		<ng-container *ngFor="let item of output">
			<pre *ngIf="item.type == 'text'" style="white-space: pre-line; word-break: break-all;">
				{{ item.value }}
			</pre>
			<json-editor *ngIf="item.type == 'json'" [options]="editorOptionsView" [data]="item.value"></json-editor>
		</ng-container>
		<button (click)="output = []">clear output</button>
	</div>
</div>